body {
    background-color: #cccccc;
}

.class-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo {
    width: 20%;
}

h2 {
    color: #453917;
    font-size: 40px;
    font-family: "Ubuntu Sans", sans-serif;
}

.dialogue {
    margin-top: 3%;
    display: flex;
    align-items: end;
    flex-direction: column;
}

.first {
    font-size: 20px;
    font-family: "Ubuntu Sans", sans-serif;
    width: 40%;
    border: 1px solid black;
    border-radius: 20px 20px 20px 0px;
    padding: 20px;
    margin-right: 20%;
}

.second {
    font-size: 20px;
    font-family: "Ubuntu Sans", sans-serif;
    width: 40%;
    border: 1px solid black;
    border-radius: 20px 20px 0px 20px;
    padding: 20px;
    margin-right: 10%;
}

.button-container {
    display: flex;
    justify-content: center;
}

#btn {
    padding: 20px;
    width: 23%;
    background-color: #e0be2c;
    border: none;
    border-radius: 20px;
    font-size: 25px;
    font-family: "Ubuntu Sans", sans-serif;
}

#btn:hover, #yes:hover, #no:hover {
    background-image: linear-gradient(#e0be2c, #9bbb38);
}

.text-container {
    display: flex;
    margin: auto;
    width: 70%;
    margin-top: 2%;
}

.text, #answer {
    font-size: 20px;
    font-family: "Ubuntu Sans", sans-serif;
}

.none {
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin-top: 2%;
}

.btn-container {
    display: flex;
}

h3, #yes, #no, #answer, h4, form {
    display: none;
}

h3 {
    font-size: 30px;
    font-family: "Ubuntu Sans", sans-serif;
    color: #453917;
    text-align: center;
}

h4 {
    font-size: 25px;
    font-family: "Ubuntu Sans", sans-serif;
    color: #453917;
    text-align: center;
}

.header {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.text-input {
    font-size: 16px;
    font-family: "Ubuntu Sans", sans-serif;
    color: #453917;
    background-color: #cccccc;
    text-align: center;
    border: 1px solid #453917;
    border-radius: 10px;
    padding: 12px;
    width: 300px;
}

label {
    font-size: 20px;
    font-family: "Ubuntu Sans", sans-serif;
    color: #453917;
}

.message {
    padding: 20px;
    width: 100%;
    background-color: #e0be2c;
    border: none;
    border-radius: 20px;
    font-size: 25px;
    font-family: "Ubuntu Sans", sans-serif;
}

#yes, #no {
    padding: 10px;
    width: 150px;
    background-color: #e0be2c;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-family: "Ubuntu Sans", sans-serif;
    margin: 1%;
}

.care-firstContainer, .care-containerSecond {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cream-container, .cleaning-container, .toner-container, .serum-container, .mask-container, .spf-container {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 1%;
    justify-content: center;
    align-items: center;
    display: none;
}

#cream, #cleaning, #toner, #serum, #mask, #spf {
    width: 300px;
}

#careCream, #careCleaning, #careToner, #careSerum, #careMask, #careSPF {
    font-size: 18px;
    font-family: "Ubuntu Sans", sans-serif;
    color: #453917;
}

#priceCream, #priceCleaning, #priceToner, #priceSerum, #priceMask, #priceSPF {
    font-weight: bold;
    font-size: 23px;
    font-family: "Ubuntu Sans", sans-serif;
    color: #453917;
    text-align: center;
}

.education-container {
    display: flex;
    justify-content: center;
}

.education {
    font-size: 13px;
    font-family: "Ubuntu Sans", sans-serif;
    color: #453917;
}

@media all and (max-width:800px) {
    #btn {
        width: 33%;
    }

    #cream, #cleaning, #toner, #serum, #mask, #spf {
        width: 200px;
    }
}

@media all and (max-width:500px) {
    h2 {
        font-size: 25px;
    }

    .photo {
        width: 30%;
    }

    .first, .second {
        font-size: 18px;
        width: 60%;
    }

    #btn {
        width: 55%;
        padding: 20px;
        font-size: 20px;
    }

    .text-container, .none {
        width: 90%;
    }

    h3 {
        font-size: 22px;
    }

    .care-firstContainer, .care-containerSecond {
        flex-direction: column;
    }

    .cream-container, .cleaning-container, .toner-container, .serum-container, .mask-container, .spf-container {
        width: 85%;
    }

    #priceCream, #priceCleaning, #priceToner, #priceSerum, #priceMask, #priceSPF {
        text-align: start;
    }
}



